<th:block th:fragment="script">

<script type="application/javascript">
function validateField(id, value){
	if(!value){ return true }
	switch(id){
	    case 'firstName':
	    case 'lastName':
		    return (/^[\p{Alpha}]+-*[\p{Alpha}]+-*[\p{Alpha}]+$/u).test(''+value)
	    case 'age': return value>0 && value<127
	    case 'email':
		    return (/^\p{Alpha}+\p{Nd}*@\p{Alpha}+\p{Nd}*\.\p{Alpha}{2,5}$/u).test(''+value)
	    case 'password': return (/.+/u).test(''+value)
	}
}

function copyRoles(dest, prefix){
    let count = 0;

	for( let role = $(prefix + count);
			 role.text() && count<10000;
			 role = $(prefix + ++count) ){
		const text = role.text().trim()
		dest.append( new Option(text, text) )
	}
}
/*
function getRoles(id_prefix){
    let count = 0
	let roles = ''

    for( let role = $(id_prefix + count);
			 role.text() && count<10000;
			 role = $(id_prefix + ++count) ){
		roles += ' ' + role.text().trim()
	}
	return roles.trim()
}
*/
function changeFormState(button_obj, password_obj, group, button_attributes
                        ,button_text, hide_password, disable_fields, dest, prefix){
    button_obj.attr(button_attributes)
    button_obj.text(button_text)
    password_obj.attr('hidden', hide_password)
    group.forEach(x => $(x).attr('disabled', disable_fields))
    copyRoles(dest, prefix)
}

function showFormState(button_obj, password_obj, group, button_attributes, button_text, dest, prefix){
    changeFormState(button_obj, password_obj, group, button_attributes, button_text, null, null, dest, prefix)
}

function hideFormState(button_obj, password_obj, group, button_attributes, button_text, dest, prefix){
    changeFormState(button_obj, password_obj, group, button_attributes, button_text, true, true, dest, prefix)
}

function changeRow(user){
	user.password = ''
	return makeRow(user, true)
}

$("#new_user").submit(function(e) {
    e.preventDefault();

    const form = e.currentTarget
	const url = form.action;
	const form_data = new FormData(form);
	const roles = JSON.stringify(form_data.getAll('roles'))

	form_data.delete('roles')

	const data_json = JSON.stringify(Object.fromEntries(form_data.entries())).replace(/}$/, ',"roles":'+roles+'}');
	const def_headers = {'Accept': 'application/json'
                  ,'Content-Type': 'application/json; charset=utf-8'
                  ,'X-CSRF-TOKEN': $('#csrf').val()
                  }
    const resp = fetch( $(form).attr('action'), {
                              method: 'POST'
                            ,headers: def_headers
                               ,body: data_json
			   }).then(response => {
					if(!response.ok){ throw new Error("ERROR: Bad request for NEW user.") }
					return response.json()
               }).then(user => {
                    $('#user_list').append(makeRow(user, true))
                    return user
			   }).catch(err=>console.log(err.message));

    const tmp = ['firstName'
                ,'lastName'
                ,'age'
                ,'email'
                ,'add_password'
                ]

    tmp.forEach(item => $(`#${item}`).val(null))
    $('#permit_id').val(null)
    $('#tab_profile').tab('show')
})

$("#form_edit_id").submit(function(e) {
    e.preventDefault();

	const form = e.currentTarget
	const url = form.action;
	const form_data = new FormData(form);
	let roles = JSON.stringify(form_data.getAll('roles'))

	form_data.delete('roles')

	const data_json = JSON.stringify(Object.fromEntries(form_data.entries())).replace(/}$/, ',"roles":'+roles+'}');
	const def_headers = {'Accept': 'application/json'
                  ,'Content-Type': 'application/json; charset=utf-8'
                  ,'X-CSRF-TOKEN': $('#csrf').attr('value')
                  }
	const submit_obj = $(form).parents('.modal').find('button[type="submit"]')
	const method = submit_obj.attr('formmethod')
    const resp = fetch( submit_obj.attr('formaction'), {
                              method: submit_obj.attr('formmethod')
                            ,headers: def_headers
                               ,body: data_json
			   }).then(response=>{
					if(!response.ok){ throw new Error("ERROR: Request for DELETE \ EDIT user not sending") }
					if(method === 'PUT'){ return response.json() }
			   }).then((user)=>{
			        if(method === 'PUT'){
                        $(`#row_${user.id}`).replaceWith(changeRow(user))
			        } else {
			            $(`#row_${form_data.get('id')}`).remove()
			        }
			   }).catch(err => console.log(err.message));
   $(form).parents('.modal').modal('hide')
});

$('#modal_edit_id').on('show.bs.modal', function (event) {
    const modal = $(this)
    const btn = $(event.relatedTarget)
    const btn_value = btn.prop('value')
	const btn_submit = $('#modal_submit')
	const modal_role_id = $('#modal_role_id')
	const password = $('#group_modal_password')
	const btn_name_delete = 'Delete'
	const modal_prefix = 'modal_'
	const role_prefix = `#role_${btn_value}_`
    const names = ['id', 'firstName', 'lastName', 'age', 'email', 'password']
	const hidden_group = [`#${modal_prefix}${names[1]}`
                         ,`#${modal_prefix}${names[2]}`
                         ,`#${modal_prefix}${names[3]}`
                         ,`#${modal_prefix}${names[4]}`
                         ,`#${modal_prefix}${names[5]}`
                         ,'#modal_role_id'
                         ]
    const btn_style_delete = {formaction : '/api/delete/' + btn_value
						          ,class : 'btn btn-danger'
						      ,formmethod: 'DELETE'}
    const btn_style_edit = {formaction : '/api/update'
						        ,class : 'btn btn-primary'
						    ,formmethod: 'PUT'
						    }

    modal_role_id.empty()

	if( btn.text().includes(btn_name_delete) ){
        $('#modal_caption').text('Delete user')
        hideFormState(btn_submit, password, hidden_group
                                        ,btn_style_delete ,btn_name_delete, modal_role_id, role_prefix)
	} else {
		$('#modal_caption').text('Edit user')
		showFormState(btn_submit, password, hidden_group
		                                ,btn_style_edit, 'Edit', modal_role_id, '#permit_')
	}

    for( let name of names ){
        const source = $(`#${name}_${btn_value}`)
		const dest = $(`#${modal_prefix}${name}`)

        if(source && dest) { dest.attr( 'value', source.text() ) };
    }
})

$(document).ready(()=>{
    const user_url = `/api/user`
    const user_list_url= '/api/list'
    const permits_url= '/api/permits'
    const def_headers = {'Accept': 'application/json'
                  ,'Content-Type': 'application/json; charset=utf-8'
                  ,'X-CSRF-TOKEN': $('#csrf').attr('value')
                        }
    fetch( user_url, {method: "GET"
           ,headers: def_headers
    }).then(response=>{
        if(!response.ok){ throw new Error("ERROR: Current user not found") }
        return response.json()
    }).then(user=>{
        setPageHeader(user)
    }).catch(err=>console.log(err.message));

    fetch( user_list_url, {method: "GET"
           ,headers: def_headers
    }).then(response=>{
        if(!response.ok){ throw new Error("ERROR: User list not fetched") }
        return response.json()
    }).then(list=>{
        const user_list = $('#user_list')

        list.forEach(user=>{
            user_list.append(makeRow(user, true))
        })
    }).catch(err=>console.log(err.message));

    fetch( permits_url, {method: "GET"
           ,headers: def_headers
    }).then(response=>{
        if(!response.ok){ throw new Error("ERROR: Permits not fetched") }
        return response.json()
    }).then(permits=>{
        permits.forEach((permit, index)=>{
            $('#permit_id').append(`<option id="${'permit_' + index}" value="${permit.name}">${permit.name}</option>`)
        })
    }).catch(err=>console.log(err.message));

    const fields = ['firstName', 'lastName', 'age', 'email', 'password']

    fields.forEach(id=>{
        $('#'+id).on('blur', e=>{
            const field = $(e.currentTarget)
            const id = field.attr('id')

            if(validateField(id, field.val())){
                $('#'+id).removeClass('custom-btn-class')
            } else {
                $('#'+id).addClass('custom-btn-class')
            }
        })
    })
})
</script>

</th:block>