<th:block th:fragment="script">

<script type="application/javascript">
$('#modal_edit_id').on('show.bs.modal', function (event) {
    let modal = $(this)
    let btn = $(event.relatedTarget)
    let btn_value = btn.prop('value')
	let btn_submit = $('#modal_submit')
	let modal_role_id = $('#modal_role_id')
	let password = $('#group_modal_password')
	let btn_name_delete = 'Delete'
	let hidden_group = ['#modal_first'
	                   ,'#modal_last'
	                   ,'#modal_age'
					   ,'#modal_email'
					   ,'#modal_password'
					   ,'#modal_role_id']

    modal_role_id.empty()

	// подмена адреса, смена оформления и надписи кнопки, запрет изменения
	if( btn.text().includes(btn_name_delete) ){
		btn_submit.attr({formaction : `/admin/delete/${btn_value}`
						     ,class : 'btn btn-danger' })
		btn_submit.text(btn_name_delete)
		password.attr('hidden', true)
		hidden_group.forEach(x => $(x).attr('disabled', true))

        // очистка и копирование ролей для текущего действия
        let role_prefix = `#role_${btn_value}_`
        let count = 0;

        for( let role = $(role_prefix + count);
                 role.text() && count<10000;
                 role = $(role_prefix + ++count) ){
            let text = role.text().trim()
            modal_role_id.append( new Option(text, text) )
        }

	} else {
		btn_submit.attr({formaction : `/admin/update/`
						     ,class : 'btn btn-primary' })
		btn_submit.text('Edit')
		password.attr('hidden', null)
		hidden_group.forEach(x => $(x).attr('disabled', null))

		// очистка и копирование ролей для текущего действия
        let permit_prefix = '#permit_'
        let count = 0;

        for( let permit = $(permit_prefix + count);
                 permit.text() && count<10000;
                 permit = $(permit_prefix + ++count) ){
            let text = permit.text().trim()
            modal_role_id.append( new Option(text, text) )
        }
	}

    // копирование полей из основной таблицы по номеру из кнопки
    let names = ['id', 'first', 'last', 'age', 'email', 'password']
    let modal_prefix = 'modal_'

    for( let name of names ){
        let source = $(`#${name}_${btn_value}`)
		let dest = $(`#${modal_prefix}${name}`)

        if(source && dest){
			dest.attr( 'value', source.text() )
        }
    }
/*
    // очистка и копирование ролей для текущего действия
    let modal_role_id = $('#modal_role_id')
	let role_prefix = `#role_${btn_value}_`
	let count = 0;

	modal_role_id.empty()

    for( let role  = $(role_prefix + count);
			 role.text() && count<10000;
			 role = $(role_prefix + ++count) ){
        let text = role.text().trim()
		modal_role_id.append( new Option(text, text) )
    }
*/
})
</script>

</th:block>