<th:block th:fragment="scripts">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</th:block>

<div class="row bg-dark" th:fragment="page_header">
  <div class="col align-self-end text-light">
    <label id="page_header_email"></label> <label id="page_header_roles">with roles:</label>
  </div>
  <div class="col-auto">
    <a class="btn btn-dark rounded-0 text-white-50" href="/logout">Logout</a>
  </div>
</div>

<div class="form-group" th:fragment="user_parameter (frag_name, frag_id, frag_type, frag_text, readonly)" th:id="${'group_'+frag_id}">
  <label class="font-weight-bold  m-0" th:id="${'label_'+frag_id}" th:for="${frag_id}" th:text="${frag_text}">Dummy</label>
  <input class="form-control" th:type="${frag_type}" th:id="${frag_id}" th:name="${frag_name}" th:if="${readonly}" placeholder="" readonly/>
  <input class="form-control" th:type="${frag_type}" th:id="${frag_id}" th:name="${frag_name}" th:unless="${readonly}" placeholder=""/>
</div>

<th:block th:fragment="common_parameters_block (common_first_id, common_last_id, common_age_id, common_email_id)">
  <div th:replace="frag::user_parameter('firstName', ${common_first_id}, 'text', 'First name', 'false')"></div>
  <div th:replace="frag::user_parameter('lastName', ${common_last_id}, 'text', 'Last name', 'false')"></div>
  <div th:replace="frag::user_parameter('age', ${common_age_id}, 'number', 'Age', 'false')"></div>
  <div th:replace="frag::user_parameter('email', ${common_email_id}, 'email', 'Email', 'false')"></div>
</th:block>

<th:block th:fragment="users_list_block">
  <th th:attr="id=${'id_'+user.id}" scope="row" th:text="${user.id}">0</th>
  <td th:attr="id=${'firstName_'+user.id}" th:text="${user.firstName}">First</td>
  <td th:attr="id=${'lastName_'+user.id}" th:text="${user.lastName}">Last</td>
  <td th:attr="id=${'age_'+user.id}" th:text="${user.age}">21</td>
  <td th:attr="id=${'email_'+user.id}" th:text="${user.email}">name@mail.com</td>
  <td>
    <th:block th:each="role, stat : ${user.roles}">
      <label class="pl-2" th:id="${'role_'+user.id+'_'+stat.index}" th:text="${role.name}"></label>
    </th:block>
  </td>
</th:block>

<th:block th:fragment="users_list_headers">
  <th scope="col">ID</th>
  <th scope="col">First Name</th>
  <th scope="col">Last Name</th>
  <th scope="col">Age</th>
  <th scope="col">Email</th>
  <th scope="col">Role</th>
</th:block>