<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person list</title>
</head>

<body>
<div align="center"><a href="/logout">Log out</a></div><br/>
<table align="center" border=1px style="background-color:#eeeeee;">
    <tr th:if="${response}"><td colspan=8 align="center"><label style="color:red" th:text="${response}"></label></td></tr>
    <tr style="background-color:yellow;">
        <th/><th>. Id .</th><th>Permits</th><th>Name</th><th>Birthdate</th><th>Gender</th><th>Phone</th><th/>
    </tr>
    <tr>
        <form id="noname" action="/admin/add">
            <td><input type="submit" value="APPEND USER"/></td>
            <td/>
            <td>
                <table align="center" name="permits" th:each="role : ${permits}">
                    <tr>
                        <div align="right">
                            <label th:text="${role.name}"></label><input th:value="${role.name}" type="checkbox" name="role"/>
                        </div>
                    </tr>
                </table>
            </td>
            <td><input type="text" name="name" placeholder="Enter full name"/></td>
            <td><input type="date" name="birthdate"/></td>
            <td>
                <table>
                    <tr>
                        <td><table align="center>"><tr><td><label>F</label></td></tr><tr><td><input type="radio" value="FEMALE" name="gender"/></td></tr></table></td>
                        <td><table align="center>"><tr><td><label>M</label></td></tr><tr><td><input type="radio" value="MALE" name="gender" checked/></td></tr></table></td>
                    </tr>
                </table>
            </td>
            <td><input type="tel" name="phone" pattern="[+]{1}[7]{1}[0-9]{10}" placeholder="+79603366598"/></td>
            <td><input type="text" name="password" placeholder="password"/></td>
        </form>
    </tr>
    <tr><td colspan=8 align="center"><label>Person list</label></td></tr>
    <tr th:each="user : ${users}">
        <form id="user" action="/admin/update" th:attrappend="id=${user.id}">
            <td>
                <input type="number" name="id" hidden th:attr="value=${user.id}"/>
                <input type="submit" value="APPLY CHANGES"/>
            </td>
            <td align="center"><a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.id}"></a></td>
            <td>
                <table align="center">
                    <tr th:each="permit : ${permits}">
                        <div align="right">
                            <label for="role_id" th:text="${permit.name()}"></label>
                            <input id="role_id" type="checkbox" th:value="${permit.name()}" name="role" th:checked="${#lists.contains(user.roles, permit)}"/>
                        </div>
                    </tr>
                </table>
            </td>
            <td><input type="text" name="name" th:attr="value=${user.name}"/></td>
            <td><input type="date" name="birthdate" th:attr="value=${#dates.format(user.birthdate, 'yyyy-MM-dd')}"/></td>
            <td th:switch="${user.gender.toString()}">
                <div th:case="'MALE'">
                    <table align="center>">
                        <tr>
                            <td><table align="center>"><tr><td><label for="rm">F</label></td></tr><tr><td><input id="rm" type="radio" value="FEMALE" name="gender"/></td></tr></table></td>
                            <td><table align="center>"><tr><td><label for="rf">M</label></td></tr><tr><td><input id="rf" type="radio" value="MALE" name="gender" checked/></td></tr></table></td>
                        </tr>
                    </table>
                </div>
                <div th:case="'FEMALE'">
                    <table align="center>">
                        <tr>
                            <td><table align="center>"><tr><td><label for="rm">F</label></td></tr><tr><td><input id="rm" type="radio" value="FEMALE" name="gender" checked/></td></tr></table></td>
                            <td><table align="center>"><tr><td><label for="rf">M</label></td></tr><tr><td><input id="rf" type="radio" value="MALE" name="gender"/></td></tr></table></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td><input type="tel" value="+79603366598" name="phone" pattern="[+]{1}[7]{1}[0-9]{10}" th:attr="value=${'+'+user.phone}"/></td>
        </form>
        <form id="removed" action="/admin/delete" th:attrappend="id=${user.id}">
            <input type="number" name="id" hidden th:attr="value=${user.id}"/>
            <td><input type="submit" value="DELETE USER" style="color:red"/></td>
        </form>
    </tr>
</table>
</body>
</html>
