<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/* Required meta tags */-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--/* Bootstrap CSS */-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User page</title>
</head>
<body>
<!--/* <body class="body vh-100 d-flex flex-column p-0 m-0"> */-->
<!--/*  Optional JavaScript */-->
<!--/*  jQuery first, then Popper.js, then Bootstrap JS */-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<div class="container-fluid" th:if="${another}">
    <div class="row bg-dark">
        <div class="col align-self-end text-light">
            <label><b th:text="${another.email}">name@mail.com</b></label> with roles:<th:block th:each="role : ${another.roles}"><label class="pl-1" th:text="${role.name()}">HUY</label></th:block>
        </div>
        <div class="col-auto">
            <a class="btn btn-dark rounded-0 text-white-50" href="/logout">Logout</a>
        </div>
    </div>

    <div class="row">
        <div class="col-2 p-0">
            <div class="list-group">
                <th:block th:if="${admin}">
                    <a class="list-group-item rounded-0 list-group-item-action border-0 active" href="/admin">Admin</a>
                    <a class="list-group-item rounded-0 list-group-item-action border-0" href="/user">User</a>
                </th:block>
                <th:block th:if="${comeback}">
                    <a class="list-group-item rounded-0 list-group-item-action border-0" href="/admin">Admin</a>
                    <a class="list-group-item rounded-0 list-group-item-action border-0 active" href="/user">User</a>
                </th:block>
                <th:block th:unless="${admin}">
                    <a class="list-group-item rounded-0 list-group-item-action border-0 active" href="/user" th:unless="${comeback}">User</a>
                </th:block>
            </div>
        </div>

        <div class="col-10 bg-light vh-100">
            <h1 th:if="${admin}">Admin panel</h1>
            <h1 th:unless="${admin}">User information-page</h1>
            <th:block th:if="${admin}">
                <nav>
                    <div class="nav nav-tabs" id="tabs">
                        <a class="nav-item nav-link active" id="tab_profile" data-toggle="tab" href="#profile_id">User table</a>
                        <a class="nav-item nav-link" id="tab_crud" data-toggle="tab" href="#crud_id">New user</a>
                    </div>
                </nav>
                <div class="tab-content bg-light border" id="interface_content_id">
                    <th:block th:replace="frag::user_list"></th:block>
                </div>
            </th:block>
            <th:block th:unless="${admin}">
                <div class="tab-content bg-light border">
                    <th:block th:replace="frag::about_user"></th:block>
                </div>
            </th:block>
        </div>
    </div>
</div>

<!--/* Modal edit */-->
<div class="modal fade" p-2 id="modal_edit_id" tabindex="-1" th:if="${admin}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_caption">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_edit_id" class="p-4 text-center">
                    <div th:replace="frag::edit_block('modal_id', 'modal_first', 'modal_last', 'modal_age', 'modal_email', 'modal_password')"></div>
                    <div class="form-group">
                        <label class="font-weight-bold m-0" for="modal_role_id">Role</label>
                        <select class="custom-select" id="modal_role_id" size="2" name="role" multiple>
                            <!--/* <option value="1">ADMIN</option> */-->
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="modal_submit" formaction="/admin/update" form="form_edit_id" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

</body>

<th:block th:if="${admin}">
    <th:block th:replace="admin_script::script"></th:block>
</th:block>

</html>

