<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User information</title>
</head>
<body>
<div align="center"><a href="/logout">Log out</a></div><br/>
<div align="center" th:if="${admin_panel}"><a href="/admin">Admin panel</a></div>
<label th:text="${auth}">Not authorized</label>
<div align="center" th:if="${user}" th:object="${user}">
    <h1>User info</h1>
    <label>Name: <label th:text="*{name}"></label></label><p/>
    <label>Birthday: <label th:text="*{birthdate}"></label></label><p/>
    <label>Gender: <label th:text="*{gender}"></label></label><p/>
    <label>Phone number: <label th:text="*{'+'+phone}"></label></label><p/>
    <table>
        <td><label>Permits: </label></td>
        <td><div th:each="permit, index : *{roles}"><label th:text="${permit}"></label></div><p/></td>
    </table>
</div>
</body>
</html>